@import "../../variable.scss";
@mixin flexstart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
.form-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 0.5;
  top: 0;
  left: 0;
  z-index: 20;
  .form{
    border-radius: 10px;
    width: 60% !important;
    height: 200px;
    border: 1px solid $border-color;
    background-color: white;
    opacity: 1;
    @include flexstart;
    text-align: center;
    background-color: white;
    width: map-get($size, "width");
    height: 180px;
    gap: 10px;
    padding: $padding;
    .input-title {
      background-color: white;
      outline: none;
      width: 50%;
      height: 50px;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      padding-left: $padding-x;
      &:hover {
        border: 1px solid $border-hovered;
      }
    }
    .input-description {
      @extend .input-title;
    }
    .submit-input {
      border-radius: $border-radius;
      display: inline-block;
      width: 100px;
      height: 60px;
      outline: none;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      &:hover {
        border: 1px solid $border-hovered;
      }
    }
  }
}
