@import "./variable.scss";
h3 {
  text-align: center;
  margin-top: 32px;
}
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 14;
  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 700px;
    height: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    @include media(mini-mobile) {
      width: 90%;
      height: 90vh;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    @include media(tablet) {
      width: 90%;
      height: 90vh;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    h1 {
      text-align: center;
    }
    .form-wrapper {
      width: 100%;
      height: 100%;
      padding-left: 0;
      padding-right: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 32px;
      .field-wrapper {
        width: 100%;
        text-align: center;
        input,
        textarea {
          width: 85%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 14px;
          font-family: inherit;
          outline: none;
          &:hover,
          &:focus {
            border: 1px solid $primary-color;
          }
        }
        textarea {
          resize: none;
          overflow-y: auto;
          height: 100px;
          @include media(mini-mobile) {
            height: 250px;
          }
          @include media(tablet) {
            height: 250px;
          }
          @include media(largTablet) {
            height: 100px;
          }
          @include media(laptop) {
            height: 100px;
          }
          @include media(desktop) {
            height: 100px;
          }
        }
        .error {
          color: red;
          font-size: 12px;
          margin-top: 5px;
        }
      }

      .button-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        gap: 32px;
        button {
          padding: 10px 15px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-size: 14px;
          margin-top: 16px;
        }
        .submit-btn {
          background-color: #e06e2b;
          color: white;
          &:hover {
            background-color: $primary-color;
          }
        }
        .cancel-btn {
          background-color: #548bf0;
          color: white;
          &:hover {
            background-color: $secondary-color;
          }
        }
      }
    }
  }
}
